.counter_part{
    padding: 4rem 0;
    background-color: #f8f8f8;
}
.counter_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}
.counter_container .stat_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter_container .stat_box .count_percent{
    /* padding: 5px 0; */
    font-size: 32px;
    font-weight: 600;
    color: #000 !important;
}
.counter_container .stat_box .counter_title{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
}
.stat_box img{
    max-width: 50px;
}
.stat_box .count_percent{
    display: flex;
    justify-content: center;
}

/* ============================Responsive Tablet========================*/
@media screen and (max-width: 1024px){
    .counter_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .counter_container .stat_box{
        margin-bottom: 25px;
    }
}