.thankyou_section_web {
    margin-top: 150px;
    margin-bottom: 30px;
}

.thanks_container {
    max-width: 60%;
    margin: auto;
}

img {
    max-width: 100%;
}


.thankyou_parent {
    background-color: #8a9b96;
    text-align: center;
    padding: 70px 0;
    border-radius: 12px;
}

.thankyou_title {
    text-align: center;
}

/* .thankyou_title .check_icon{
    background: #fff;
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
  }
  .thankyou_title .check_icon span{
    margin-top: 14px;
    font-size: 40px;
    color: rgba(221, 14, 14, 1);
  } */
.check_icon img {
    max-width: 15%;
}

.register_heading {
    margin: 20px 0 20px;
    text-transform: capitalize;
    color: #fff;
}

.register_heading h2 {
    font-size: 30px;
    line-height: 35px;
}

.register_heading p {
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    padding-top: 20px;
}

.thankyou_sub_title {
    margin: 30px 0 40px;
    color: #fff;
}

.thankyou_sub_title .sub_title_group {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.thankyou_sub_title .notification_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.whatsapp_btn button {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 7px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.whatsapp_btn .socials_icon {
    color: #fa1515;
    font-size: 30px;
}

.whatsapp_btn:hover .socials_icon {
    color: #fff;
}

.whatsapp_btn span {
    padding-top: 4px;
}

.whatsapp_btn button:hover {
    background-color: #fa1515;
    border: none;
}

.whatsapp_btn:hover .social_icon {
    color: #fff;
}

/* ============================Responsive Tablet========================*/
@media screen and (max-width: 1024px) {
    /* .thankyou_section{margin-top: 75px;} */
}

@media screen and (max-width: 550px) {
    .whatsapp_btn button {
        width: 180px;
        height: 2.5rem;
    }

    .thankyou_title {
        padding: 0 20px;
    }

    .thanks_container {
        max-width: 90%;
    }

    .register_heading h2 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 3px;
    }

    .register_heading p {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .thankyou_sub_title .sub_title_group {
        padding-bottom: 5px;
    }

    .whatsapp_btn .socials_icon {
        font-size: 20px;
    }
}