.accordian_section{padding: 2rem 0 4rem; margin-top: 115px;}
.accordian_title h3{
    font-size: 28px;
    font-weight: 700;
    color: #333;
    padding-bottom: 15px;
}
.accordion {
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    cursor: pointer;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    color: rgb(172, 5, 5);
  }
  
  .accordion-title {
    flex-grow: 1;
    font-size: 17px;
  }
  
  .accordion-icon {
    /* width: 20px;
    height: 20px; */
    background-size: contain;
    transition: transform 0.3s ease;
    font-size: 25px;
  }
  
  .icon.plus {
    background-image: url('images/plus.png'); /* Add the path to your plus icon */
  }
  
  .icon.minus {
    background-image: url('images/minus.png'); /* Add the path to your minus icon */
  }
  
  .accordion-content {
    padding: 0px 10px 10px 20px;
    background:#fff;
    margin-top: -15px;
  }
  .accordian_btn button{
    cursor: pointer;
    color: red;
    padding-top: 20px;
    background: none;
    font-size: 15px;
    font-weight: 500;
  }
  .accordion-item{
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 10px;
  }