.slider_header_webinar {
  margin-top: 115px;
}

.mask {
  width: 100%;
  height: 80vh;
  position: relative;
}

.intro_img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

/* .mask::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
} */
.hero {
  width: 100%;
  height: 100%;
}

.hero .content {
  position: absolute;
  transform: translateX(0%);
  top: 33%;
  left: 6%;
}

.hero .content .hero_subtitle {
  color: #c2ec1a;
  font-size: 20px;
  font-weight: 400;
}

.hero .content .heading_title {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
  color: #fff;
  padding-top: 10px;
}

.hero .content .hero_para {
  font-size: 25px;
  line-height: 28px;
  font-weight: 300;
  color: #fefefe;
  padding: 5px 0 10px;
}

.hero .content .hero_link {
  color: #df333b;
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
}

.hero .content .hero_btn button {
  width: 360px;
  height: 65px;
  background: #df333b;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  border-radius: 70px;
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
}

.swiper_button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-direction: row-reverse;
}

.swiper_button .button-next-slide {
  color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #dfdfdf;
  display: grid;
  place-items: center;
  position: absolute;
  top: 45%;
  left: 5%;
  z-index: 2;
}

.swiper_button .button-prev-slide {
  color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid#DFDFDF;
  display: grid;
  place-items: center;
  position: absolute;
  top: 45%;
  right: 5%;
  z-index: 2;
}




/* ============================Responsive Tablet========================*/
@media (min-width: 1024px) and (max-width: 1291px) {
  .slider_header_webinar {
    margin-top: 70px !important;
  }

  .mask {
    height: 75vh;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .slider_header_webinar {
    margin-top: 70px !important;
  }

  .mask {
    height: 50vh;
  }

  .hero .content {
    top: 20%;
  }

  .hero .content .hero_subtitle {
    font-size: 1rem;
  }

  .hero .content .heading_title {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .hero .content .hero_para {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .hero .content .hero_btn button {
    font-size: 1.1rem;
    width: 320px;
    height: 50px;
    margin-top: 1.1rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .slider_header_webinar {
    margin-top: 70px !important;
  }

  .mask {
    height: 50vh;
  }

  .hero .content {
    top: 20%;
  }

  .hero .content .hero_subtitle {
    font-size: 12px;
  }

  .hero .content .heading_title {
    font-size: 16px;
    line-height: 20px;
  }

  .hero .content .hero_para {
    font-size: 15px;
    line-height: 21px;
  }

  .hero .content .hero_link {
    font-size: 20px;
    line-height: 26px;
  }

  .hero .content .hero_btn button {
    width: 210px;
    height: 40px;
    font-size: 12px;
    margin-top: 20px;
  }
}