.ournextian_section {
    padding-top: 3rem;
}

.ournextian_section .container {
    position: relative;
}

.nextian_title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(90% - 20px);
    position: absolute;
    margin-top: 15px;
}

.ournextian_section_slider {
    padding-top: 5rem;
}

.ournextian_section_slider .swiper {
    position: static;
}

.neaxtian_heading h3 {
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

.neaxtian_heading p {
    font-size: 16px;
    font-weight: 400;
    color: #655959;
    padding-top: 15px;
}

.nextian_title .nextian_btn {
    display: flex;
    justify-content: flex-end;

}

.nextian_title .nextian_btn a button {
    background: none;
    color: #222;
    font-size: 14px;
    font-weight: 400;
    margin-right: -35px;
    margin-top: 35px;
    cursor: pointer;
}

.ournextian_img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -60px;
}

.ournextian_section .ournextian_img {
    display: block;
    text-align: center;
}

.ournextian_card {
    margin: 90px 0;
    border: 1px solid #e8e8e8;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.ournextian_title {
    padding: 0px 20px;
    min-height: 260px;
}

.ournextian_title h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    color: #000;
    padding-top: 25px;
    padding-bottom: 8px;
}

.ournextian_title span {
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    text-transform: uppercase;
    padding-top: 18px;
}

.ournextian_title p {
    font-size: 13px;
    font-weight: 400;
    color: #707070;
    padding: 25px 0 10px;
    letter-spacing: 0.4px;
}

.ournextian_button {
    position: absolute;
    z-index: 10;
    top: 7%;
    left: 92%;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    flex-direction: row-reverse;
    cursor: pointer;

}

.ournextian_button .button-next-slide {
    color: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #DFDFDF;
    display: grid;
    place-items: center;
    /* position: absolute;
    z-index: 10;
    top: 0%;
    left: 95%; */
}

.ournextian_button .button-prev-slide {
    color: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid#DFDFDF;
    display: grid;
    place-items: center;
    /* position: absolute;
    z-index: 10;
    top: 0%;
    right: 0%; */
}

/*============================Responsive Tablet========================*/
@media screen and (max-width: 1024px) {
    .nextian_title {
        width: calc(90% - 30px);
        margin-top: 12px;
    }
}

@media screen and (max-width: 768px) {
    .ournextian_section .ournextian_button {
        position: absolute;
        top: 3%;
        left: 85%;
    }

    .nextian_title {
        margin-top: 14px;
    }
}

@media screen and (max-width: 500px) {
    .ournextian_section .ournextian_button {
        position: absolute;
        top: 3%;
        left: 78%;
    }

    .ournextian_section .neaxtian_heading h3 {
        font-size: 17px;
    }

    .ournextian_section_slider {
        padding-top: 2rem;
    }
}