.slider_header {
  position: relative;
  margin-top: -141px;
}

/* .image_slider::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: rgba(0, 0, 0, 0.6);
 } */

.image_slider {
  position: relative;
}


/*_____________________Swiper Css_________________*/
.swiper_button .button-next-slide {
  color: #000;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: #fff;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 33%;
}

.swiper_button .button-prev-slide {
  color: #000;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: #fff;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 5%;
}

.slider_header .swiper-pagination {
  position: absolute;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #000;
}

/*_____________________form_________________*/
.header_from_1 {
  position: absolute;
  top: 60%;
  z-index: 10;
  background: #fff;
  width: 19rem;
  padding: 25px 0;
  border-radius: 25px;
  transform: translatey(-50%);
}

.header_from_1 .text {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  margin-left: 38px;
}

.header_from_1 .inputs {
  margin-top: 15px;
}

.header_from_1 .input_form {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  background: #eaeaea;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
  width: 80%;
}

.error {
  position: absolute;
  bottom: -21px;
  left: 10px;
  color: #ec1c24;
}

.submit_success {
  margin-top: 35px;
}

.submit_success .success {
  font-size: 12px;
  text-align: center;
  color: #5eea5c;
  border: 2px solid #5eea5c;
  padding: 5px;
  border-radius: 30px;
  width: 200px;
  margin: auto;
}

.header_from_1 .input_form img {
  margin: 0 15px;
  width: 15px;
}

.image_slider img {
  width: 100%;
  height: 90vh;
}

.header_from_1 .input_form input {
  height: 2.3rem;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 14px;
  width: 100%;
}

.header_from_1 .textarea_data {
  display: flex;
  margin: auto;
  width: 80%;
  background: #eaeaea;
  border-radius: 6px;
  position: relative;
}

.header_from_1 .message_box {
  margin: 10px -5px 0px 12px;
  width: 35px;
  color: #797979;
}

.header_from_1 .textarea_data textarea {
  background: transparent;
  height: 2.3rem;
  border: none;
  outline: none;
  color: #797979;
  font-size: 14px;
  padding-top: 10px;
  width: 100%;
}

.banner_submit_container {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 23px;
}

.banner_submit_container .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40px;
  color: #fff;
  background: #ec1c24 !important;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  line-height: 24px;
}

.header_mobile_section {
  display: none;
}

/* ============================Responsive Tablet========================*/
@media (min-width: 1024px) and (max-width: 1290px) {

  /* .slider_header {min-width: 1000px; max-width: 100%;} */
  .slider_header .input_form {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .header_from_1 .text {
    font-size: 0.8rem;
  }

  .error {
    font-size: 12px;
    bottom: -18px;
  }

  .swiper_button .button-next-slide {
    left: 30%;
  }

  .header_from_1 {
    width: 16rem;
    top: 62%;
    padding: 15px 0;
  }

  .banner_submit_container {
    margin-top: .9rem;
  }

  .banner_submit_container .submit {
    font-size: .8rem;
    height: 2rem;
  }

  .header_from_1 .input_form input {
    height: 2rem;
  }

  .header_from_1 .textarea_data textarea {
    height: 2rem;
  }
}

@media screen and (max-width: 1230px) {
  .slider_header {
    width: 1225px;
    max-width: 100%;
  }
}

@media screen and (max-width: 1195px) {
  .slider_header {
    width: 1190px;
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .slider_header {
    margin-top: 0;
  }

  .swiper_button .button-next-slide {
    width: 30px;
    height: 30px;
  }

  .swiper_button .button-prev-slide {
    width: 30px;
    height: 30px;
  }

  .header_from_1 {
    width: 16rem;
    top: 57%;
    padding: 15px 0;
  }

  .banner_submit_container {
    margin-top: .9rem;
  }

  .banner_submit_container .submit {
    font-size: .8rem;
    height: 2rem;
  }

  .header_from_1 .input_form input {
    height: 2rem;
  }

  .header_from_1 .textarea_data textarea {
    height: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .slider_header {
    margin-top: 0px;
  }

  .heroBannerSlider {
    padding-top: 70px;
  }

  .swiper_button .button-next-slide {
    width: 30px;
    height: 30px;
  }

  .swiper_button .button-prev-slide {
    width: 30px;
    height: 30px;
  }

  .slider_header .input_form {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .submit_container {
    width: 190px;
  }

  .submit_container .submit {
    height: 35px;
    font-size: 14px;
  }

  .header_from_1 .text {
    font-size: 0.8rem;
  }

  .error {
    font-size: 12px;
    bottom: -18px;
  }

  .header_from_1 .inputs {
    margin-top: 10px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .slider_header {
    width: 834px;
    max-width: 100%;
  }

  .swiper_button .button-prev-slide {
    top: 56%;
    width: 28px;
    height: 28px;
  }

  .swiper_button .button-next-slide {
    top: 56%;
    width: 28px;
    height: 28px;
    left: 31%;
  }

  .header_from_1 .text {
    margin-left: 1.4rem;
  }

  .header_from_1 {
    width: 14rem;
    top: 57%;
  }

  .banner_submit_container {
    margin-top: .9rem;
  }

  .banner_submit_container .submit {
    font-size: .8rem;
    height: 1.5rem;
  }

  .header_from_1 .input_form input {
    height: 2rem;
  }

  .header_from_1 .textarea_data textarea {
    height: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .header_from_1 {
    display: none;
  }

  .image_slider img {
    height: 35vh;
  }

  .swiper_button .button-next-slide {
    left: 32.5%;
    top: 50%;
  }

  .swiper_button .button-next-slide {
    width: 25px;
    height: 25px;
  }

  .swiper_button .button-prev-slide {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {

  .slider_header {
    display: none;
  }

  .header_mobile_section {
    display: block;
    position: relative;
  }

  .header_mobile_section {
    width: 768px;
    max-width: 100%;
  }

  .header_main_container {
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .header_register_form {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff !important;
  }

  .header_register_form h2 {
    font-size: 1.5rem;
    color: #000 !important;
    font-weight: 500;
    text-align: center;
  }

  .header_register_form form {
    margin-top: 30px;
  }

  .header_form .input_box {
    width: 100%;
  }

  .header_input_box label {
    color: #333;
  }

  .header_form .header_input_box input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    color: #707070;
    padding: 0 15px;
    margin-top: 8px;
  }

  .header_form .header_input_box p {
    color: #fff;
    font-weight: 700;
  }

  .header_form .header_textarea_form {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100px;
    border-radius: 6px;
    position: relative;
    border: 1px solid #ddd;
  }

  .header_form .header_textarea_form textarea {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: #797979;
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 15px;
  }

  .header_input_btn button {
    height: 55px;
    width: 100%;
    background-color: #da0303 !important;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
  }

  /* mobile_slider */
  .header_mobile_slider {
    position: relative;
    /* margin-top: 70px; */
  }

  .header_mobile_section .heroBannerSlider {
    position: relative;
    padding-top: 70px;
  }

  /* .header_mobile_offers_slider {
    position: relative;
  } */

  .header_mobile_offers_slider img {
    height: 25vh;
    width: 100%;
    display: block;
  }

  .header_mobile_offers_button .button-next-slide {
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 10;
    top: 65%;
    left: 8%;
    transform: translate(-50%, -50%);
  }

  .header_mobile_offers_button .button-prev-slide {
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 10;
    top: 65%;
    right: -2%;
    transform: translate(-50%, -50%);
  }

  .header_form .header_input_box .error {
    position: absolute;
    bottom: -20px;
    left: 10px;
    color: #ec1c24;
  }

  .header_input_box {
    position: relative;
    margin-bottom: 20px;
  }

  .month_plan_button .button_left {
    top: 16px;
    right: 50px;
  }

  .header_mobile_offers_btn {
    font-size: 12px;
    font-weight: 600;
  }
}

@media screen and (max-width: 450px) {
  .header_mobile_section {
    width: 428px;
    max-width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .header_mobile_section {
    width: 414px;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .header_mobile_section {
    width: 390px;
    max-width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .header_mobile_section {
    width: 375px;
    max-width: 100%;
  }
}