.offers_section {
  position: relative;
  margin-top: 115px;
}

.offers_slider {
  position: relative;
}

.offers_slider img {
  height: 80vh;
  width: 100%;
  display: block;
}

.offers_slider .offers_content {
  position: absolute;
  top: 27%;
  right: 21rem;
  color: #fff;
}

.offers_content h3 {
  font-size: 16px;
  /* text-transform: capitalize; */
  margin-bottom: 10px;
  /* letter-spacing: 0.8px; */
  font-weight: 500;
}

.offers_content h1 {
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 10px;
  max-width: 480px;
  letter-spacing: 0.5px;
}

/* .title_content h1 span{
     color: #EC1C24 !important;
 } */
.offers_content p {
  font-size: 20px;
  max-width: 600px;
  letter-spacing: 0.1px;
}

.success {
  font-size: 20px;
  text-align: center;
  margin-top: 17px;
  left: 15px;
  color: rgb(6, 247, 6);
}

.offers_btn {
  padding: 1rem 2rem;
  background: #fff;
  font-size: 13px;
  color: #333;
  margin-top: 15px;
  border-radius: 50px;
  font-weight: 600;
}

.offers_btn:hover {
  background: #ec1c24 !important;
  color: #fff;
}

/*_____________________Swiper Css_________________*/
.offers_button .button-next-slide {
  color: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 10;
  top: 42%;
  left: 42%;
}

.offers_button .button-prev-slide {
  color: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 10;
  top: 42%;
  right: 7%;
}

.offers_section .swiper-pagination {
  position: absolute;
  left: 10%;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #000;
}

/*_____________________form_________________*/
.offers_from {
  position: absolute;
  top: 9%;
  left: 10%;
  z-index: 10;
  background: #fff;
  width: 400px;
  height: 490px;
  padding: 25px 0;
  /* box-shadow: 0px 9px 10px 10px rgba(148, 139, 139, 0.5);
    transition:  border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
  border-radius: 25px;
}

.offers_from .text {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  margin-left: 5px;
}

.offers_from .inputs {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.offers_from .input_form {
  display: flex;
  align-items: center;
  margin: auto;
  width: 320px;
  height: 45px;
  background: #eaeaea;
  border-radius: 6px;
  position: relative;
}

.offers_from .error {
  position: absolute;
  bottom: -23px;
  left: 5px;
  color: #ec1c24;
}

.offers_from .input_form img {
  margin: 0 15px;
  width: 15px;
}

.offers_from .input_form input {
  height: 56px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 14px;
}

.offers_from .textarea_form {
  display: flex;
  /* align-items: center; */
  margin: auto;
  width: 320px;
  height: 100px;
  background: #eaeaea;
  border-radius: 6px;
  position: relative;
}

.offers_from .textarea_form img {
  margin: 10px 15px 0px;
  width: 15px;
  height: 15px;
}

.offers_from .textarea_form textarea {
  background: transparent;
  width: 400px;
  border: none;
  outline: none;
  color: #797979;
  font-size: 14px;
  padding-top: 10px;
}

.register_form .submit_container {
  margin: 0px auto;
}

.register_form .submit_container .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 45px;
  color: #fff;
  background: #ec1c24 !important;
  border-radius: 44px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  line-height: 24px;
}

.refer_section {
  padding: 50px 0;
}

.refer_card_parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.refer_child_card {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  width: calc(100% - 10px);
  padding: 50px 30px;
  background: #fcfbfb;
}

.refer_sub_title h3 {
  padding-bottom: 40px;
  color: #333;
  font-size: 32px;
  font-weight: 600;
}

.refer_title h5 {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.refer_title p {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 0;
}

.refer_btn button {
  cursor: pointer;
  background: transparent;
  color: red;
}


.master_slider .master_slider_main .swiper {
  padding: 2rem 0.5rem;
  /* position: static; */
}

.master_slider .container {
  position: relative;
}

.master_slider_main .swiper {
  position: static;
}

.mastermind_card {
  /* text-align: center;   */
  border-radius: 15px;
  /* display: flex; flex-direction: column;
           align-items: center; 
           justify-content: center; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.mastermind_img {
  position: relative;
}

.mastermind_img img {
  border-radius: 15px;
  border: 1px solid #e8e8e8;
}

.mm_container {
  padding: 4rem 0;
}

.mm_container h3 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  padding-bottom: 15px;
}

.master_head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: calc(100% - 52px);
  position: relative;
}

.master_two_part p {
  color: #707070;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
}

.master_btn {
  display: flex;
  justify-content: flex-end;
}

.mastermind_img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 7px;
  right: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: #dd0e0ebd;
  cursor: pointer;
  border-radius: 15px;
}

.mastermind_img .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.mastermind_title {
  padding-left: 10px;
}

.mastermind_title h4 {
  color: #333;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 0 5px;
}

.mastermind_title p {
  color: #666;
  font-weight: 400;
  font-size: 16px;
}

.mastermind_img .content a {
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
}

.mastermind_img:hover .overlay {
  opacity: 1;
}

.master_button2 .master_right_button {
  position: absolute;
  z-index: 10;
  top: 17%;
  left: 94%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-direction: row-reverse;
}

.master_button2 .master_right_button .button-next-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #dfdfdf;
  display: grid;
  place-items: center;
  /* position: absolute;
          z-index: 10;
          top: 0%;
          left: 95%; */
}

.master_button2 .master_right_button .button-prev-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid#DFDFDF;
  display: grid;
  place-items: center;
  /* position: absolute;
          z-index: 10;
          top: 0%;
          right: 0%; */
}

.master_button2 .master_see {
  position: absolute;
  top: 17.5%;
  right: 6.5%;
  text-decoration: underline;
}

.master_button2 .master_see .master_button-2 {
  background: transparent;
  text-decoration: underline;
}

/* .master_two_part_2 p {
  max-width: 900px;
} */


/* .month_card_parent{display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px;} */
.month_card_plan {
  border: 1px solid #fff8e9;
  border-radius: 15px;
  min-height: 630px;
}

.offer_month_section {
  padding: 5rem 0;
}

.month_title h2 {
  color: #333;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 2rem;
}

/* .month_background {
  background: linear-gradient(108.14deg,
      #0081d0 3.23%,
      rgba(0, 134, 215, 0.59) 99.3%),
    linear-gradient(0deg, #fff8e9, #fff8e9);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  padding: 25px 20px 20px 20px;
} */

.month_background img {
  border-radius: 10px;
  min-height: 25vh;
}

.month_card_right img {
  border-radius: 10px;
}

.month_plan_title h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  padding: 8px 0px;
}

.month_plan_title p {
  color: #003556;
}

.image_plan {
  width: 45px;
  height: 45px;
  background: #0979be;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.plan_validity {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  margin: 15px 0 20px;
}

.plan_validity .validity_month {
  font-size: 12px;
  font-weight: 400;
  color: #555;
}

.plan_validity .validity_price {
  font-size: 16px;
  font-weight: 700;
  color: #222;
}

.plan_validity .validity_red {
  font-size: 10px;
  font-weight: 600;
  color: #da0303;
}

.underline_plan {
  background: #eeeeee;
  height: 1px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
}

.lectures_content {
  padding: 0 20px;
  max-height: 24rem;
  overflow: scroll;
}

.lectures_content P {
  font-size: 12px;
  font-weight: 400;
  color: #000;
  line-height: 30px;
}

.lectures_content P span {
  padding-right: 10px;
  padding-top: 10px;
  font-size: 9px;
  color: #01a442;
}

.mobile_section {
  display: none;
}

.offer_month_section .container {
  position: relative;
}

.month_card_parent .swiper {
  position: static;
}

.month_plan_button .button_right {
  position: absolute;
  z-index: 10;
  top: 2%;
  left: 94%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-direction: row-reverse;
}

.month_plan_button .button_right .button-next-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #dfdfdf;
  display: grid;
  place-items: center;
}

.month_plan_button .button_right .button-prev-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid#DFDFDF;
  display: grid;
  place-items: center;
}

.month_plan_button .button_left {
  position: absolute;
  top: 18px;
  right: 87px;
  text-decoration: underline;
}

.about_support {
  background: #FCFBFB;
}

.about_support_title {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 30px;
  padding: 3rem 0;
}

.about_support_content h4 {
  font-size: 16px;
  color: #333;
  font-weight: 700;
  padding: 12px 0;
  cursor: pointer;
}

.about_support_content p {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  max-width: 221px;
  margin: auto;
}


/* ============================Responsive Tablet========================*/
@media screen and (max-width: 1440px) {
  .offers_slider .offers_content {
    position: absolute;
    top: 27%;
    right: 18rem;
    color: #fff;
  }

  .offers_slider img {
    height: 80vh;
  }

  /* .mobile_offers_button .button-next-slide{
    position: absolute;
    top: 38%;
    left: 42%;
}
.mobile_offers_button .button-prev-slide{
    position: absolute;
    top: 38%;
    right: 7%;
} */
}

@media screen and (max-width: 1024px) {
  .offers_slider img {
    height: 80vh;
  }

  .about_support_title {
    grid-template-columns: repeat(2, 1fr);
  }

  .offers_section {
    margin-top: 75px;
  }

  .offers_button .button-next-slide {
    left: 46%;
  }

  .offers_button .button-prev-slide {
    right: 3%;
  }

  .offers_slider .offers_content {
    right: 9rem;
    top: 31%;
  }

  .offers_content h1 {
    font-size: 30px;
    max-width: 350px;
  }

  .offers_btn {
    padding: 0.5rem 1rem;
    font-size: 12px;
  }

  .slider_header {
    display: none;
  }

  .mobile_form {
    display: block;
  }

  .header_from {
    position: relative;
    left: 0;
    background: #797979;
    width: 690px;
    height: 400px;
  }

  .inputs {
    gap: 30px;
  }

  .input_form {
    width: 320px;
    height: 50px;
  }

  .input_box p {
    color: red;
  }

  .error {
    position: absolute;
    bottom: -25px;
  }

  /* .month_card_parent{grid-template-columns: repeat(2, 1fr);} */
  .offers_from {
    width: 350px;
    height: 490px;
    position: absolute;
    top: 2%;
    left: 5%;
  }

  .offers_from .input_form {
    width: 290px;
  }

  .submit_container .submit {
    width: 300px;
    height: 40px;
  }

  .offers_from .textarea_form {
    width: 290px;
  }

  .master_two_part_2 p {
    max-width: 700px;
  }

  .month_plan_button .button_left {
    right: 62px;
    top: 16px;
  }

  .offers_section {
    display: none;
  }

  .mobile_section {
    display: block;
  }

  .main_container {
    min-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .register_form {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    /* background-color: #005b83 !important; */
  }

  .register_form h2 {
    font-size: 1.5rem;
    color: #000 !important;
    font-weight: 600;
    text-align: left;
  }

  .register_form form {
    margin-top: 30px;
  }

  .form .input_box {
    width: 100%;
    /* margin-top: 20px; */
  }

  .input_box label {
    color: #333;
  }

  .form_header .input_box input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    color: #707070;
    padding: 0 15px;
    margin-top: 8px;
  }

  .form_header .input_box textarea {
    position: relative;
    /* height: 50px; */
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    color: #707070;
    padding: 0 15px;
    margin-top: 8px;
    padding-top: 10px;
  }

  /* .form .input_box .input-error {
    color: red;
    font-weight: 700;
  } */

  .form_header .input_box .input-error {
    position: absolute;
    bottom: -25px;
    left: 10px;
    color: #ec1c24;
  }

  .form_header .input_box {
    position: relative;
    margin-bottom: 20px;
  }

  .form .input_box textarea {
    position: relative;
    /* height: 50px; */
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    color: #707070;
    padding: 15px 15px 0px;
    margin-top: 8px;
  }

  .input_btn button {
    height: 55px;
    width: 100%;
    background-color: #da0303 !important;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
  }

  /* mobile_slider */
  .mobile_slider {
    position: relative;
    margin-top: 72px;
  }

  .mobile_offers_slider {
    position: relative;
  }

  .mobile_offers_slider img {
    height: 40vh;
    width: 100%;
    display: block;
  }

  .mobile_offers_slider .mobile_offers_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .mobile_offers_content h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .mobile_offers_content h1 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0 10px;
    /* max-width: 600px; */
    letter-spacing: 0.5px;
    line-height: 40px;
  }

  .mobile_offers_content p {
    font-size: 20px;
    max-width: 600px;
    letter-spacing: 0.1px;
  }

  .mobile_offers_btn {
    padding: 0.8rem 1.5rem;
    background: #fff;
    font-size: 11px;
    color: #333;
    margin-top: 0px;
    border-radius: 50px;
    font-weight: 600;
  }

  .mobile_offers_btn:hover {
    background: #ec1c24 !important;
    color: #fff;
  }

  /*_____________________Swiper Css_________________*/
  .mobile_offers_button .button-next-slide {
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 10;
    top: 43%;
    left: 2%;
  }

  .mobile_offers_button .button-prev-slide {
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 10;
    top: 43%;
    right: 2%;
  }

  .mobile_slider .swiper-pagination {
    position: absolute;
    /* left: 10%; */
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #000;
  }

  .month_plan_button .button_left {
    top: 16px;
    right: 48px;
  }

  .offer_month_section {
    padding: 3rem 0;
  }

  .master_button2 .master_right_button {
    top: 23%;
    left: 90%;
  }

}

@media screen and (max-width: 768px) {
  .mobile_offers_slider img {
    height: 40vh;
  }

  .header_from {
    position: relative;
    left: 0;
    background: #797979;
    width: 600px;
    height: 360px;
  }

  .inputs {
    gap: 30px;
  }

  .input_form {
    width: 400px;
    height: 50px;
  }

  .error {
    position: absolute;
    bottom: -25px;
  }

  .plan_validity .validity_month {
    font-size: 8px;
  }

  .plan_validity .validity_price {
    font-size: 12px;
  }

  .plan_validity .validity_red {
    font-size: 8px;
  }

  .month_plan_title h4 {
    font-size: 15px;
    line-height: 20px;
  }

  .month_plan_title p {
    font-size: 12px;
  }

  .lectures_content p {
    font-size: 14px;
    line-height: 28px;
  }

  .mm_container h3 {
    font-size: 22px;
  }

  .master_two_part_2 p {
    max-width: 500px;
  }

  .offer_month_section {
    padding: 3rem 0;
  }

  .refer_sub_title h3 {
    font-size: 25px;
  }

  .refer_card_parent {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .header_from {
    position: relative;
    left: 0;
    background: #797979;
    width: 400px;
    height: 360px;
  }

  .input_form {
    width: 300px;
    height: 50px;
  }

  /* .month_card_parent{grid-template-columns: repeat(1, 1fr);} */
  .plan_validity .validity_month {
    font-size: 12px;
  }

  .plan_validity .validity_price {
    font-size: 16px;
  }

  .plan_validity .validity_red {
    font-size: 10px;
  }

  .month_plan_title h4 {
    font-size: 20px;
    line-height: 25px;
  }

  .month_plan_title p {
    font-size: 16px;
  }

  .lectures_content p {
    font-size: 12px;
    line-height: 30px;
  }

  .mobile_offers_content h1 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0 10px;
    /* max-width: 600px; */
    letter-spacing: 0.5px;
    line-height: 23px;
  }

  .mobile_offers_slider img {
    height: 30vh;
  }

  .mobile_offers_content h3 {
    font-size: 14px;
  }

  .mobile_offers_btn {
    padding: 0.5rem 1rem;
  }

  .month_title h2 {
    font-size: 25px;
  }

  .month_plan_button .button_left {
    right: 30px;
  }

  .mobile_slider .swiper-pagination {
    display: none;
  }

  .about_support_title {
    grid-template-columns: repeat(1, 1fr);
  }

  .master_two_part_2 p {
    max-width: 300px;
    font-size: 12px;
  }

  .master_button2 .master_see {
    top: 24.5%;
    right: 6.5%;
  }

  .master_button2 .master_right_button {
    top: 21%;
    left: 80%;
  }

  .refer_sub_title h3 {
    font-size: 20px;
  }

  .refer_section {
    padding: 0 0 50px;
  }

  .month_plan_button .button_right {
    top: 0%;
    left: 86%;
  }

  .month_plan_button .button_left {
    right: 55px;
    top: 2px;
  }
}

@media screen and (max-width: 400px) {
  .header_from {
    position: relative;
    left: 0;
    background: #797979;
    width: 300px;
    height: 390px;
  }

  .input_form {
    width: 260px;
    height: 50px;
  }

  .submit_container .submit {
    width: 260px;
  }

  .plan_validity .validity_month {
    font-size: 9px;
  }

  .lectures_content p {
    font-size: 10px;
    line-height: 22px;
  }

  .month_plan_title h4 {
    font-size: 18px;
  }

  .month_title h2 {
    font-size: 22px;
  }

  .month_plan_button .button_right {
    top: 0%;
    left: 80%;
  }

  .month_plan_button .button_left {
    right: 3px;
    top: 25px;
  }

  /* .master_button2 .master_see {top: 30.5%; right: 6.5%;}
  .master_button2 .master_right_button {top: 27%; left: 80%;} */
  .master_two_part_2 p {
    max-width: 230px;
  }
}