.master_slider .master_slider_main .swiper {
  padding: 2rem 0.5rem;
  /* position: static; */
}

.master_slider .container {
  position: relative;
}

.master_slider_main .swiper {
  position: static;
}

.mastermind_card {
  text-align: center;
  border-radius: 15px;
}

.mastermind_img {
  position: relative;
}

.mm_container {
  padding: 4rem 0;
}

.mm_container .master_heading_title h3 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  padding-bottom: 15px;
}

.mm_container .master_heading_title p {
  color: #707070;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
}

.mastermind_img img {
  border-radius: 15px;
  border: 1px solid #e8e8e8;
}

.mastermind_img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 7px;
  right: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: #dd0e0ebd;
  cursor: pointer;
  border-radius: 15px;
}

.mastermind_img .faculty_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.mastermind_title {
  padding-left: 10px;
}

.mastermind_title h4 {
  color: #333;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 0 5px;
}

.mastermind_title p {
  color: #666;
  font-weight: 400;
  font-size: 16px;
}

.mastermind_img .content a {
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
}

.mastermind_img:hover .overlay {
  opacity: 1;
}

.master_button_slider .master_button_left {
  position: absolute;
  z-index: 10;
  top: 15%;
  left: 95%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-direction: row-reverse;
  cursor: pointer;
}

.master_button_slider .master_button_left .button-next-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #dfdfdf;
  display: grid;
  place-items: center;
}

.master_button_slider .master_button_left .button-prev-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid#DFDFDF;
  display: grid;
  place-items: center;
}

.master_button_slider .master_button_right .master_button {
  position: absolute;
  top: 16%;
  right: 5.5%;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  color: #DD0E0E;
  font-weight: 600;
}



/* ============================Responsive Tablet========================*/
@media (min-width: 1024px) and (max-width: 1391px) {
  .master_slider .container {
    width: 1000px;
    max-width: 100%;
  }

  .master_button_slider .master_button_right .master_button {
    right: 6%;
  }

  .mm_container .master_heading_title {
    max-width: 700px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .master_slider .container {
    width: 700px;
    max-width: 100%;
  }

  .master_button_slider .master_button_right .master_button {
    right: 11%;
  }

  .master_button_slider .master_button_left {
    left: 90%;
  }

  .mm_container .master_heading_title {
    max-width: 500px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .master_slider .container {
    width: 300px;
    max-width: 100%;
  }

  .master_button_slider .master_button_left {
    left: 80%;
    top: 10%;
  }

  .master_button_slider .master_button_right .master_button {
    top: 18.5%;
    right: -4%;
    font-size: 9px;
  }

  .mm_container .master_heading_title {
    max-width: 250px;
  }

  .mm_container .master_heading_title h3 {
    font-size: 22px;
  }

  .mm_container .master_heading_title p {
    font-size: 12px;
  }

  .mm_container {
    padding: 4rem 0 2rem;
  }
}