.video_section .video_title h3 {
  text-align: left;
  color: #333;
  font-size: 32px;
}

.video_section {
  padding-bottom: 4rem;
}

.video_section .container {
  position: relative;
}

.video_main_slider .swiper {
  position: static;
}

.video_subtitle {
  display: grid;
  padding-top: 15px;
  padding-bottom: 30px;
  position: relative;
}

.video_left p {
  color: #707070;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
}

.video_btn {
  display: flex;
  justify-content: flex-end;
}

.video_btn .video_button {
  background: none;
  text-decoration: underline;
  color: #222;
  font-size: 14px;
  font-weight: 400;
}

.video_button {
  position: absolute;
  z-index: 10;
  top: 1%;
  left: 93%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-direction: row-reverse;
}

.video_main_slider {
  border-radius: 35px;
  max-width: 75vw;
  /* height: 100vh; */
  margin: auto;
}

.video_img {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.video_img iframe {
  border-radius: 30px;
  /* width: 75vw;
  height: 50vh; */
}

.video_button .button-next-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #DFDFDF;
  display: grid;
  place-items: center;

}

.video_button .button-prev-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid#DFDFDF;
  display: grid;
  place-items: center;

}

.transparent_data {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 10px;
  /* z-index: 1000; */
  top: 0;
}

.youtube_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #DD0E0E;
  display: flex;
  border-radius: 10px;
  /* color: #DD0E0E; */
}

.fa_youtube {
  color: #fff;
  width: 60px;
  height: 55px;
}


/* ============================Responsive Tablet========================*/
@media (min-width: 1024px) and (max-width: 1291px) {
  .video_img iframe {
    width: 98%;
    height: 50vh;
  }

  .video_main_slider {
    height: 55vh;
  }

  .transparent_data {
    height: 73%;
  }

  .fa_youtube {
    color: #fff;
    width: 60px;
    height: 45px;
  }

  .youtube_btn {
    left: 49.5%;
    top: 49.5%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .video_button {
    position: absolute;
    top: 5%;
    left: 89%;
  }

  .video_img iframe {
    width: 98%;
    height: 25vh;
  }

  .video_main_slider {
    height: 22vh;
  }

  .transparent_data {
    height: 38%;
  }
}

@media screen and (max-width:768px) {
  .video_img iframe {
    width: 100%;
    height: 40vh;
  }

  .video_main_slider {
    height: 32vh;
  }

  .transparent_data {
    height: 59%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .video_button {
    position: absolute;
    top: 10%;
    left: 75%;
  }

  .video_section {
    padding-bottom: 0;
  }

  .video_section .video_title h3 {
    font-size: 1rem;
  }

  .video_left p {
    font-size: 11px;
  }

  .video_img iframe {
    width: 100%;
    height: 25vh;
  }

  .video_main_slider {
    height: 30vh;
    max-width: 100%;
  }

  .transparent_data {
    height: 38%;
  }

  .container {
    max-width: 100%;
    margin: auto;
  }

  .fa_youtube {
    color: #fff;
    width: 50px;
    height: 45px;
  }
}