.mission_section{padding: 60px 0;}
.mission_title h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    max-width: 1100px;
    margin: auto;
    color: #222;
}
.mission_title h2 span{color: #DD0E0E;}
.mission_subtitle{text-align: center; padding-top: 50px;}
.mission_subtitle .mission_para_sub{color: #DD0E0E; font-size: 32px; line-height: 40px; font-weight: 600; font-style: italic;}
.mission_subtitle .mission_para{color: #7a7a7a; font-size: 18px; line-height: 25px;}
.mission_card_head{display: grid; grid-template-columns: repeat(4,1fr); place-items: center;}
.mission_parent{padding-top: 20px;}
.mission_icon {border: 1px solid #D8D8D8; width: 150px; height: 150px; display: flex; align-items: center;
justify-content: center; border-radius: 50%; margin: auto;}
.mission_content .mission_heading{color: #222; font-size: 26px; font-weight: 600; line-height: 35px; text-align: center; padding-top: 15px;}


/* ============================Responsive Tablet========================*/
@media screen and (max-width:1024px){
    .mission_card_head{grid-template-columns: repeat(2, 1fr);}
    .mission_content .mission_heading{font-size: 18px;}
    .mission_title h2{font-size: 28px; line-height: 36px;}
}

@media screen and (max-width:768px){
    .mission_card_head{grid-template-columns: repeat(2, 1fr);}
    .mission_title h2{font-size: 22px; line-height: 32px;}
}

@media screen and (max-width:500px){
    .mission_card_head{grid-template-columns: repeat(1, 1fr);}
    .mission_card_head{gap: 20px;}
    .mission_content .mission_heading{font-size: 12px;}
    .mission_title h2{font-size: 18px; line-height: 26px;}
    .mission_subtitle .mission_para {font-size: 14px;}
    .mission_subtitle .mission_para_sub{font-size: 25px;}
}