.allexam_section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 115px;

}

.allexam_header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    padding: 190px 0;
    color: #fff;
}

.allexam_header h2 {
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.allexam_header p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    padding-top: 4px;
    letter-spacing: 0.5px;
}

.tab_sub_title h3 {
    font-size: 42px;
    color: #333;
    padding-bottom: 10px;
}

/* Tab styles */
.tab_section {
    padding: 3rem 0;
}

.tabs {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 40px;
    align-items: center;
    border-bottom: 1px solid #DEDEDE;
}

.tab {
    cursor: pointer;
    padding: 15px 0px;
    color: red;
}

.tab a {
    color: red;
    font-size: 16px;
    font-weight: 600;
}

.tab:hover {
    color: #333;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s ease;
}

.tab.active {
    border-bottom: 3px solid red;
    color: #333;
    font-weight: 700;
    font-size: 16px;
}

/* Content styles */
.tab-content {
    margin-top: 10px;
}

.tab_parent {
    border: 1px solid #EAEAEA;
    padding: 50px;
    border-radius: 12px;
    margin-top: 50px;
}

.tab_parent .tab_child {
    display: flex;
    flex-wrap: wrap;
}

.tab_parent .tab_child .tab_child_img_left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab_parent .tab_child .tab_child_content_right {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tab_parent .tab_sub_content h2 {
    padding-bottom: 30px;
    color: #333;
    font-weight: 700;
    font-size: 32px;
}

.tab_parent .tab_sub_content .tab_bold {
    font-weight: 500;
    color: #707070;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
}

.tab_parent .tab_sub_content p {
    font-weight: 400;
    color: #707070;
    font-size: 14px;
    line-height: 22px;
}

.tab_parent .tab_sub_content .tab_btn button {
    width: 150px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    background: #DD0E0E;
    border-radius: 25px;
    margin-top: 30px;
    font-weight: 500;
}

.month_offer_section {
    padding: 2rem 0 4rem;
}

.month_offer_section .month_offer_title h3 {
    font-size: 32px;
    font-weight: 700;
    color: #333;
}

.month_offer_parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.month_offer_child {
    padding-top: 30px;
}

.month_offer_img_box {
    width: 290px;
    height: 290px;
    border: 1px solid #BABFCA;
    background: linear-gradient(0deg, #F8F8F8, #F8F8F8);
    border-radius: 8px;
}

.month_offer_sub_content p {
    color: #333;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-top: 20px;
}


/* Offer Of The Month */
.month_card_plan {
    border: 1px solid #FFF8E9;
    border-radius: 15px;
    min-height: 630px;
}

.offer_month_section {
    padding: 5rem 0;
}

.month_title h2 {
    color: #333;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 2rem;
}

.month_background {
    /* background: linear-gradient(108.14deg, #0081D0 3.23%, rgba(0, 134, 215, 0.59) 99.3%),
        linear-gradient(0deg, #FFF8E9, #FFF8E9); */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    /* padding: 25px 20px 20px 20px; */
}

.month_card_right img {
    border-radius: 10px;
}

.month_plan_title h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    padding: 8px 0px;
}

.month_plan_title p {
    color: #003556;
}

.image_plan {
    width: 45px;
    height: 45px;
    background: #0979BE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.plan_validity {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    margin: 15px 0 20px;
}

.plan_validity .validity_month {
    font-size: 12px;
    font-weight: 400;
    color: #555;
}

.plan_validity .validity_price {
    font-size: 16px;
    font-weight: 700;
    color: #222;
}

.plan_validity .validity_red {
    font-size: 10px;
    font-weight: 600;
    color: #DA0303;
}

.underline_plan {
    background: #EEEEEE;
    height: 1px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #EEEEEE
}

.lectures_content {
    padding: 0 20px;
}

.lectures_content P {
    font-size: 12PX;
    font-weight: 400;
    color: #000;
    line-height: 30px;
}

.lectures_content P span {
    padding-right: 10px;
    padding-top: 10px;
    font-size: 9px;
    color: #01A442;
}


.offer_month_section .container {
    position: relative;
}

.month_card_parent .swiper {
    position: static;
}

.month_plan_button .button_right {
    position: absolute;
    z-index: 10;
    top: 2%;
    left: 94%;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    flex-direction: row-reverse;
}

.month_plan_button .button_right .button-next-slide {
    color: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #dfdfdf;
    display: grid;
    place-items: center;
}

.month_plan_button .button_right .button-prev-slide {
    color: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid#DFDFDF;
    display: grid;
    place-items: center;
}

.month_plan_button .button_left {
    position: absolute;
    top: 18px;
    right: 80px;
    text-decoration: underline;
}


@media screen and (max-width: 1024px) {
    .allexam_section {
        margin-top: 75px;
    }

    .tab_parent .tab_child .tab_child_img_left {
        width: 100%;
    }

    .tab_parent .tab_child .tab_child_content_right {
        width: 100%;
        padding-top: 30px;
    }

    .tabs {
        gap: 30px;
    }

    .tab a {
        font-size: 14px;
    }

    .month_offer_parent {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .tabs {
        gap: 15px;
    }

    .tab a {
        font-size: 10px;
    }

    .month_offer_parent {
        grid-template-columns: repeat(2, 1fr);
    }

    .month_plan_title h4 {
        font-size: 15px;
        line-height: 20px;
    }

    .month_plan_title p {
        font-size: 12px;
    }

    .lectures_content p {
        font-size: 8px;
        line-height: 22px;
    }

    .month_plan_button .button_left {
        top: 16px;
        right: 50px;
    }

    .month_title h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 550px) {
    .tab_section .tabs {
        gap: 8px;
    }

    .tab_section .tab a {
        font-size: 7px;
    }

    .plan_validity .validity_month {
        font-size: 12px;
    }

    .plan_validity .validity_price {
        font-size: 16px;
    }

    .plan_validity .validity_red {
        font-size: 10px;
    }

    .month_plan_title h4 {
        font-size: 20px;
        line-height: 25px;
    }

    .month_plan_title p {
        font-size: 16px;
    }

    .lectures_content p {
        font-size: 12px;
        line-height: 30px;
    }

    /* .month_offer_section .month_offer_title h3{text-align: center;}
     .month_offer_parent{grid-template-columns: repeat(1, 1fr); place-items: center;} */
}

@media screen and (max-width: 400px) {
    .tabs {
        gap: 8px;
    }

    .tab a {
        font-size: 7px;
    }

    .month_offer_section .month_offer_title h3 {
        text-align: center;
    }

    .month_offer_parent {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    .plan_validity .validity_month {
        font-size: 9px;
    }

    .lectures_content p {
        font-size: 10px;
    }

    .month_plan_title h4 {
        font-size: 18px;
    }

    .month_title h2 {
        font-size: 22px;
    }

    .month_plan_button .button_right {
        top: 0%;
        left: 80%;
    }

    .month_plan_button .button_left {
        right: 3px;
        top: 25px;
    }
}