.simplify_section {
    background: #FCFBFB;
    padding: 5rem 0 4rem;
}

.simplify_section .parent_simplify {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left_simplify .live {
    font-size: 28px;
    font-weight: 600;
    color: #333;
}

.left_simplify .live span {
    color: #DD0E0E;
}

.left_simplify .use {
    padding: 20px 0;
    color: #666;
    font-size: 1rem;
    font-weight: 400;
}

.left_simplify .easy {
    padding-bottom: 15px;
    color: #333;
    font-weight: 700;
}

.img_button {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.img_button img {
    width: 135px;
    height: 40px;
}

.scan_code p {
    font-weight: 700;
    color: #333;
    padding: 20px 0 15px;
}

.scan_img {
    display: flex;
    align-items: center;
    gap: 15px;
}

.scan_img img {
    width: 120px;
}

.right_simplify {
    display: flex;
    justify-content: center;
}

/* ============================Responsive Tablet========================*/
@media screen and (max-width: 1024px) {
    .simplify_section .parent_simplify {
        grid-template-columns: 1fr;
    }

    .simplify_section {
        padding: 2rem 0;
    }

    .right_img {
        justify-content: center;
    }

    .left_simplify {
        text-align: center;
    }

    .right_simplify {
        padding-top: 100px;
    }

    /* .img_button{width: 100%; height: 100%; gap: 30px;} */
    .img_button {
        justify-content: center;
    }

    .scan_img {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .right_img {
        gap: 20px;
    }
}