.planmsC_section {
  margin-top: 115px;
  background: linear-gradient(180deg,
      #ffffff 73.64%,
      #efefef 90.8%,
      #e7e7e6 100%);
  position: relative;
}

.plan_msC_img img {
  display: block;
  width: 100%;
  height: 80vh;
}

.planmsC_slider_title {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.planmsC_slider_title span {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  /* color: #666;  */
  color: #000;
}

.planmsC_slider_title h1 {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 50px;
  /* color: #333; */
  color: #000;
  padding: 10px 0;
}

.planmsC_slider_title p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  /* color: #666;  */
  color: #000;
  text-transform: uppercase;
  /* margin: 25px 0; */
}

/* master-right-button*/
.master_button_2 {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-direction: row-reverse;
}

.master_button_2.master_see {
  top: 24.5%;
  right: 6.5%;
}

.master_button_2 .master_right_button {
  top: 21%;
  left: 80%;
}

.master_button_2 .master_right_button {
  position: absolute;
  z-index: 10;
  top: 17%;
  left: 94%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-direction: row-reverse;
}

.master_button_2 .master_right_button .button-next-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #dfdfdf;
  display: grid;
  place-items: center;
}

.master_button_2 .master_right_button .button-prev-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid#DFDFDF;
  display: grid;
  place-items: center;
}

.master_button_2 .master_see {
  position: absolute;
  top: 17.9%;
  right: 6.5%;
  text-decoration: underline;
}

.master_button_2 .master_see .master_button-2 {
  background: transparent;
  text-decoration: underline;
}


.planzero_video_section {
  padding-top: 4rem;
}

.react_video {
  width: 100%;
  height: 70vh;
}

.video_part {
  padding-top: 1.4rem;
}

.questions_section {
  padding: 50px 0;
}

.question_parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.question_left {
  text-align: center;
}

.question_left img {
  height: 500px;
}

.question_right_title .icon_zero_img img {
  height: 50px;
}

.salient_child .salient_img img {
  height: 60px;
}

.question_right_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 18px 0;
}

.question_right_title .title_zero h4 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.question_right_title .title_zero p {
  color: #666;
  font-weight: 400;
  font-size: 16px;
}

.question_right .title_zero {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.salient_parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 50px 0;
}

.salient_child {
  display: flex;
  align-items: center;
  gap: 15px;
  width: calc(100% - 10px);
}

.salient_child .salient_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.salient_child .salient_title h5 {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.salient_child .salient_title p {
  font-weight: 400;
  font-size: 16px;
  color: #666;
  max-width: 450px;
}

.approach_section {
  background: #fcfbfb;
  padding: 50px 0;
}

.approach_section .approach_title h3 {
  color: #333;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 50px;
}

.approach_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.approach_img img {
  width: 200px;
  height: 200px;
}

.approach_content .approach_heading {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.approach_content p {
  color: #666;
  font-weight: 400;
  font-size: 14px;
  max-width: 300px;
  padding-top: 8px;
}

.refer_section {
  padding: 50px 0;
}

.refer_card_parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.refer_child_card {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  width: calc(100% - 10px);
  padding: 50px 30px;
  background: #fcfbfb;
}

.refer_sub_title h3 {
  padding-bottom: 40px;
  color: #333;
  font-size: 32px;
  font-weight: 600;
}

.refer_title h5 {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.refer_title p {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 0;
}

.refer_btn button {
  cursor: pointer;
  background: transparent;
  color: red;
}

.doubt_section {
  border: 1px solid #ebebeb;
  background: #fcfbfb;
}

.parent_doubt {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left_img_doubt {
  width: 20%;
}

.center_content_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.center_content_button .center_doubt_title .doubt_sub_title {
  color: #333;
  font-size: 36px;
  font-weight: 700;
}

.center_content_button .center_doubt_title p {
  color: #666;
  font-weight: 400;
  font-size: 16px;
}

.center_content_button .center_btn button {
  background: #dd0e0e;
  font-weight: 600;
  color: #fff;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.right_img_doubt {
  width: 20%;
}

.master_slider .master_slider_main .swiper {
  padding: 2rem 0.5rem;
  /* position: static; */
}

.master_slider .container {
  position: relative;
}

.master_slider_main .swiper {
  position: static;
}

.mastermind_card {
  border-radius: 15px;
}

.mastermind_img {
  position: relative;
  text-align: center;
}

.mastermind_img img {
  border-radius: 15px;
  border: 1px solid #e8e8e8;
}

.mm_container {
  padding: 4rem 0;
}

.mm_container h3 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  padding-bottom: 15px;
}

.master_head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: calc(100% - 52px);
  position: relative;
}

.master_two_part p {
  color: #707070;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
}

.master_btn {
  display: flex;
  justify-content: flex-end;
}

.mastermind_img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 7px;
  right: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: #dd0e0ebd;
  cursor: pointer;
  border-radius: 15px;
}

.mastermind_img .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.mastermind_title {
  padding-left: 10px;
}

.mastermind_title h4 {
  color: #333;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 0 5px;
}

.mastermind_title p {
  color: #666;
  font-weight: 400;
  font-size: 16px;
}

.mastermind_img .content a {
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
}

.mastermind_img:hover .overlay {
  opacity: 1;
}


.master_button_plan .master_button_right {
  position: absolute;
  z-index: 10;
  top: 15%;
  left: 93%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-direction: row-reverse;
}

.master_button_plan .master_button_right .button-next-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #dfdfdf;
  display: grid;
  place-items: center;
}

.master_button_plan .master_button_right .button-prev-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid#DFDFDF;
  display: grid;
  place-items: center;
}

.master_button_plan .button_left_master {
  position: absolute;
  top: 101px;
  right: 105px;
  text-decoration: underline;
}

.ournextian_section {
  padding-top: 3rem;
}

.ournextian_section .container {
  position: relative;
}

.nextian_title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: calc(100% - 90px);
  position: absolute;
}

.ournextian_section_slider {
  padding-top: 3rem;
}

.ournextian_section_slider .swiper {
  position: static;
}

.neaxtian_heading h3 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
}

.nextian_title .nextian_btn {
  display: flex;
  justify-content: flex-end;
}

.nextian_title .nextian_btn button {
  background: none;
}

.ournextian_img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -60px;
}

.ournextian_img {
  display: block;
  text-align: center;
}

.ournextian_card {
  margin: 100px 0;
  border: 1px solid #e8e8e8;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.ournextian_title {
  padding: 0px 20px;
  min-height: 270px;
}

.ournextian_title h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
  padding-top: 25px;
  padding-bottom: 8px;
}

.ournextian_title span {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  text-transform: uppercase;
  padding-top: 18px;
}

.ournextian_title p {
  font-size: 13px;
  font-weight: 400;
  color: #707070;
  padding: 25px 0 20px;
  letter-spacing: 0.4px;
}

.ournextian_button {
  position: absolute;
  z-index: 10;
  top: 0%;
  left: 94%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-direction: row-reverse;
}

.ournextian_button .button-next-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #dfdfdf;
  display: grid;
  place-items: center;
  /* position: absolute;
          z-index: 10;
          top: 0%;
          left: 95%; */
}

.ournextian_button .button-prev-slide {
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid#DFDFDF;
  display: grid;
  place-items: center;

}

/* What you will get section */
.plan_section {
  padding: 0px 0 50px;
}

.plan_parent_title {
  display: flex;
  align-items: center;
  gap: 70px;
}

.month_card_right img {
  border-radius: 10px;
}

.plan_left_child {
  width: 50%;
  background: linear-gradient(108.14deg, #0081D0 3.23%, rgba(0, 134, 215, 0.59) 99.3%),
    linear-gradient(0deg, #FFF8E9, #FFF8E9);
  padding: 25px 65px 20px 65px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.plan_right_child {
  width: 50%;
  padding: 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.plan_tab_button_right_1 {
  margin-left: -50px;
}

.month_plan_title {
  padding-top: 30px;
}

.month_plan_title h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  padding: 8px 0px;
}

.plan_section .month_plan_title p {
  color: #fff;
}

.plan_tab_button button span {
  text-decoration: line-through;
}

.plan_content_title h3 span {
  text-decoration: line-through;
}

.image_plan {
  width: 45px;
  height: 45px;
  background: #0979BE;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.plan_section .lectures_content {
  padding: 0 20px;
}

.plan_section .lectures_content P {
  font-size: 13PX;
  font-weight: 400;
  color: #000;
  line-height: 30px;
}

.plan_section .lectures_content P span {
  padding-right: 10px;
  padding-top: 10px;
  font-size: 9px;
  color: #01A442;
}

.plan_tab_section {
  margin: 60px 0px;
}

.plan_choose_right_msc {
  padding: 0 100px;
}

.vertical-tabs {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
}

.plan_tab_section .tab {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
}

.plan_tab_section .tab.active {
  background: #D43604;
  color: #fff;
  font-weight: bold;
  border: none;
}

.tab-content {
  padding: 10px;
}

.plan_button_section_parent {
  display: flex;
  align-items: center;
}

.plan_tab_button_left {
  width: 60%;
  display: flex;
  gap: 20px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  align-items: center;
}

.plan_tab_button_right {
  width: 40%;
  position: relative;
  cursor: pointer;
}

.plan_tab_img_left {
  background: #EDF0F4;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  padding: 40px 120px 30px 37px;
}

.plan_content_heading h1 {
  font-size: 30px;
  color: #333;
  font-weight: 600;
  text-align: left;
}

.plan_content_heading p {
  padding: 8px 0;
}

.tree_plan {
  position: absolute;
  left: 16%;
  background: #0979BE;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 6px;
  margin-top: 5px;
}

.plan_tab_button_right .plan_tab_button button {
  border: 1px solid #D43604;
  color: #D43604;
  width: 300px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 50px;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
}

.tab_right_content .tab_heading {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  padding-top: 10px;
  color: #333;
}

.tab_right_content .tab_para {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #707070;
  padding: 5px 0 10px;
}

.tab_right_inner_btn button {
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: #333;
}

.plan_content_title h3 {
  font-size: 28px;
  font-weight: 600;
  color: #D43604;
  padding-bottom: 10px;
  line-height: 35px;
}

.plan_content_title h4 {
  padding: 5px 0 20px;
  color: #333;
}

.plan_lectures_content {
  max-height: 30rem;
  overflow: scroll;
}

.plan_lectures_content p {
  padding: 10px 10px;
  font-size: 15px;
}

.plan_lectures_content p span {
  padding-right: 5px;
}

.plan_tab_button_right .tab_button_01 {
  top: -117px;
  left: -150px;
}

.plan_tab_button_right .tab_button_02 {
  bottom: -48px;
  left: -147px;
}

.plan_tab_button_right .tab_button_03 {
  bottom: -135px;
  left: -148px;
}

.plan_tab_button {
  position: absolute;
}

.video_title h3 {
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  color: #333;
}


/* Add your styles for the modal and other components here */
.about_model_title h2 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  line-height: 35px;
}

.about_model_title p {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  display: flex;
  align-items: center;
}

.about_model_title p span {
  padding-right: 6px;
  font-size: 16px;
  margin-top: 3px;
}

.about_modal {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 22;
}

.about_modal_content .show {
  display: flex;
}

.about_modal_content .about_modal_header {
  text-align: left;
}

.about_modal_close {
  font-size: 30px;
  cursor: pointer;
}

.about_modal_content {
  position: fixed;
  /* max-width: 31rem; */
  right: 0%;
  background-color: #fff;
  padding: 0rem 3rem 1.6rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.about_model_form .inputs {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about_model_form .input_form {
  background: transparent;
}

.about_model_form .input_form input {
  position: relative;
  height: 45px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  color: #707070;
  padding: 0 15px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}

.customfile::-webkit-file-upload-button {
  background: #999999;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  margin-top: 5px;
}


@media screen and (max-width: 1440px) {
  .hiring_content {
    top: 20%;
    left: 6%;
    position: absolute;
  }
}

@media screen and (max-width: 1024px) {
  .nextian_title {
    width: calc(100% - 90px);
  }

  .ournextian_button {
    top: 2%;
    left: 91%;
  }

  .planmsC_section {
    margin-top: 72px;
  }

  .hiring_parent {
    justify-content: center;
  }

  .hiring_content {
    top: 20%;
    left: 8%;
    position: absolute;
  }

  .approach_content .approach_heading {
    font-size: 16px;
  }

  .approach_content p {
    font-size: 12px;
  }

  .center_content_button .center_doubt_title .doubt_sub_title {
    color: #333;
    font-size: 20px;
    font-weight: 700;
  }

  .center_content_button .center_doubt_title p {
    color: #666;
    font-weight: 400;
    font-size: 10px;
  }

  .center_content_button .center_btn button {
    width: 120px;
    height: 40px;
  }

  .master_two_part_2 p {
    max-width: 700px;
  }

  .plan_right_child {
    padding: 15px;
  }

  .plan_tab_img_left {
    padding: 40px 0px 30px 25px;
  }

  .plan_tab_img_left h1 {
    font-size: 20px;
  }

  .plan_tab_button_right .plan_tab_button button {
    width: 270px;
    height: 45px;
    font-size: 12px;
  }

  .plan_content_title h3 {
    font-size: 20px;
  }

  .plan_lectures_content p {
    font-size: 12px;
    padding: 5px 0;
  }

  .master_button_plan .master_button_right {
    top: 17%;
  }

  .master_button_plan .button_left_master {
    right: 70px;
  }
}

@media screen and (max-width: 768px) {
  .ournextian_section .ournextian_button {
    top: 3%;
  }

  .hiring_content {
    top: 17%;
    left: 40%;
    position: absolute;
  }

  .question_parent {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }

  .question_left {
    text-align: center;
  }


  .question_right_title {
    justify-content: center;
  }

  .salient_parent {
    grid-template-columns: repeat(1, 1fr);
  }

  .approach_card {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .approach_img img {
    width: 100%;
    height: 100%;
  }

  .approach_content .approach_heading {
    font-size: 20px;
  }

  .approach_content p {
    font-size: 16px;
  }

  .refer_sub_title h3 {
    font-size: 25px;
  }

  .refer_card_parent {
    grid-template-columns: repeat(1, 1fr);
  }

  .center_content_button .center_doubt_title .doubt_sub_title {
    color: #333;
    font-size: 20px;
    font-weight: 700;
  }

  .center_content_button .center_doubt_title p {
    color: #666;
    font-weight: 400;
    font-size: 10px;
  }

  .center_content_button .center_btn button {
    width: 120px;
    height: 40px;
  }

  .left_img_doubt {
    width: 100%;
    text-align: center;
  }

  .center_content_button {
    width: 100%;
    padding: 20px 0;
  }

  .right_img_doubt {
    width: 100%;
    text-align: center;
  }

  .master_head {
    grid-template-columns: repeat(1, 1fr);
  }

  .ournextian_section .ournextian_button {
    position: absolute;
    top: 0%;
    left: 89%;
  }

  .master_two_part_2 p {
    max-width: 500px;
  }

  .plan_parent_title {
    flex-direction: column;
    gap: 50px;
  }

  .plan_left_child {
    width: 100%;
  }

  .plan_right_child {
    width: 100%;
  }

  .plan_button_section_parent {
    flex-direction: column;
    gap: 30px;
  }

  .plan_tab_img_left h1 {
    font-size: 20px;
    text-align: center;
  }

  .plan_tab_button_left {
    width: 100%;
  }

  .plan_tab_button_right {
    width: 100%;
  }

  .plan_tab_img_left {
    text-align: center;
    padding: 20px 20px;
    border-radius: 0;
    width: 100%;
  }

  .plan_tab_button_right .tab_button_01 {
    left: 0;
  }

  .plan_tab_button_right .tab_button_02 {
    left: 0;
  }

  .plan_tab_button_right .tab_button_03 {
    left: 0;
  }

  /* .master_button_plan .master_button_right {
    top: 23%;
    left: 79%;
  } */

  .master_button_plan .button_left_master {
    right: 55px;
    top: 105px;
  }
}

@media screen and (max-width: 550px) {
  .master_button_plan .master_button_right {
    top: 23%;
    left: 79%;
  }

  .master_button_plan .button_left_master {
    right: 15px;
    top: 195px;
  }

  .hiring_content {
    top: 14%;
    left: 30%;
    position: absolute;
  }

  .master_two_part_2 p {
    max-width: 300px;
    font-size: 12px;
  }

  .plan_section .lectures_content P {
    font-size: 10px;
    line-height: 20px;
  }

  .plan_section .month_plan_title h4 {
    font-size: 12px;
    line-height: 16px;
  }

  .plan_section .month_plan_title p {
    font-size: 12px;
    line-height: 16px;
  }

  .plan_left_child {
    padding: 25px 20px 20px 20px;
    gap: 10px;
  }

  .plan_tab_button_right_1 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .master_button_2 .master_see {
    top: 24.5%;
    right: 6.5%;
  }

  .master_two_part_2 p {
    max-width: 300px;
    font-size: 12px;
  }

  .master_button_2 .master_right_button {
    top: 21%;
    left: 80%;
  }

  .master_head {
    grid-template-columns: repeat(1, 1fr);
  }

  .mastermind_card {
    text-align: center;
  }

  .master_slider .master_head {
    max-width: calc(100% - 80px);
  }

  .master_slider .master_head .master_two_part p {
    font-size: 12px;
  }

  .master_head .master_btn .master_button {
    font-size: 10px;
  }

  .mm_container h3 {
    font-size: 22px;
  }

  .ournextian_section .ournextian_button {
    position: absolute;
    top: 4%;
    left: 76%;
  }

  .ournextian_section .neaxtian_heading h3 {
    font-size: 17px;
  }

  .ournextian_section_slider {
    padding-top: 2rem;
  }

  .plan_tab_button_left {
    gap: 10px;
  }

  .plan_tab_button_right .plan_tab_button button {
    width: 175px;
    height: 50px;
    font-size: 10px;
  }

  .plan_tab_img_left p {
    font-size: 10px;
  }

  .plan_tab_img_left h1 {
    font-size: 12px;
  }
}


@media screen and (max-width: 400px) {
  .master_two_part_2 p {
    max-width: 230px;
  }
}